@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/clash-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
  --scroll-behavior: smooth !important;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  background:
    linear-gradient(#f77825 0 0),
    linear-gradient(#f77825 0 0),
    linear-gradient(#f77825 0 0),
    linear-gradient(#f77825 0 0),
    linear-gradient(#60B99A 0 0),
    linear-gradient(#60B99A 0 0),
    linear-gradient(#554236 0 0),
    linear-gradient(#554236 0 0);
  background-size: 25% 25%,25% 25%,25% 25%,25% 25%,25% 50%,25% 50%,50% 25%,50% 25%;
  background-repeat: no-repeat;
  animation: l20 1.5s infinite alternate;
}
@keyframes l20 {
  0%,
  10%  {background-position: 
            calc(1*100%/3) calc(1*100%/3),calc(2*100%/3) calc(1*100%/3),calc(1*100%/3) calc(2*100%/3),calc(2*100%/3) calc(2*100%/3),
            calc(1*100%/3) 50%,calc(2*100%/3) 50%,50% calc(1*100%/3),50% calc(2*100%/3)}
  33%  {background-position: 
            calc(0*100%/3) calc(0*100%/3),calc(3*100%/3) calc(0*100%/3),calc(0*100%/3) calc(3*100%/3),calc(3*100%/3) calc(3*100%/3),
            calc(1*100%/3) 50%,calc(2*100%/3) 50%,50% calc(1*100%/3),50% calc(2*100%/3)}
  66%  {background-position: 
            calc(0*100%/3) calc(0*100%/3),calc(3*100%/3) calc(0*100%/3),calc(0*100%/3) calc(3*100%/3),calc(3*100%/3) calc(3*100%/3),
            calc(0*100%/3) 50%,calc(3*100%/3) 50%,50% calc(1*100%/3),50% calc(2*100%/3)}
  90%,
  100%  {background-position: 
            calc(0*100%/3) calc(0*100%/3),calc(3*100%/3) calc(0*100%/3),calc(0*100%/3) calc(3*100%/3),calc(3*100%/3) calc(3*100%/3),
            calc(0*100%/3) 50%,calc(3*100%/3) 50%,50% calc(0*100%/3),50% calc(3*100%/3)}
}



.logo {

  position: relative;
}




.logo-overflow {
  display: inline-block;
  /* A little extra padding and overflow hidden   */
  overflow: hidden;
  padding-bottom: clamp(1rem, 2vmin, 2rem);
}

.logo-clip:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 3 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid #635454;
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.dots {
   width: 56px;
   height: 26.9px;
   background: radial-gradient(circle closest-side,#bd996a 90%,#0000) 0%   50%,
          radial-gradient(circle closest-side,#bd996a 90%,#0000) 50%  50%,
          radial-gradient(circle closest-side,#bd996a 90%,#0000) 100% 50%;
   background-size: calc(100%/3) 13.4px;
   background-repeat: no-repeat;
   animation: dots-7ar3yq 1s infinite linear;
}

@keyframes dots-7ar3yq {
   20% {
      background-position: 0%   0%, 50%  50%,100%  50%;
   }

   40% {
      background-position: 0% 100%, 50%   0%,100%  50%;
   }

   60% {
      background-position: 0%  50%, 50% 100%,100%   0%;
   }

   80% {
      background-position: 0%  50%, 50%  50%,100% 100%;
   }
}



.chatbot-z {
  z-index: 9999 !important;
}
.clash-display {
  font-family: "Clash Display", sans-serif;
}

.sm-device-carousel .swiper-button-prev {
  display: none !important;
}

.sm-device-carousel .swiper-button-next {
  display: none !important;
}

.sm-device-carousel .swiper-pagination-bullet {
  display: none !important;
}




body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 60px;
}
.sub_heading {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #333333;
}
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4f4f4f;
}
.responsive_box {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
 
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  scrollbar-width: none;
}

.PhoneInputInput {
  outline: none !important;
}

@media only screen and (max-width: 1024px) {

 
}

.transition-one {
  transition: 0.1s;
}
.transition-two {
  transition: 0.2s;
}
.transition-five {
  transition: 0.5s;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.home .slick-next {
  right: 100px !important;
}
.home .slick-prev {
  left: 60px !important;
  z-index: 100;
}

.home .slick-prev::before {
  content: url("/icons/left-arrow.svg") !important;
}

.home .slick-next::before {
  content: url("/icons/right-arrow.svg") !important;
}

.home .slick-prev::before,
.slick-next::before {
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
}

.home .slick-dots {
  bottom: 50px !important;
}

.home .slick-dots li {
  width: 4rem !important;
  height: 2px;
}

.home .slick-dots li button::before {
  content: "" !important;
  background: white !important;
  width: 40px !important;
  height: 2.16px !important;
  border-radius: 999px;
}
@media only screen and (max-width: 750px) {
  .home .slick-next {
    display: none !important;
  }
  .home .slick-prev {
    display: none !important;
  }
}

.services .slick-next {
  display: none !important;
}
.services .slick-prev {
  display: none !important;
}

.work .slick-next {
  right: 1100px !important;
  top: 550px;
  z-index: 100;
}
.work .slick-prev {
  left: 70px !important;
  top: 550px !important;
  z-index: 100;
}
.work .slick-prev::before {
  content: url("/icons/left-black-arrow.svg") !important;
}

.work .slick-next::before {
  content: url("/icons/right-black-arrow.svg") !important;
}

.work .slick-prev::before,
.work .slick-next::before {
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
}

.work .slick-dots {
  bottom: 125px !important;
  right: 505px !important;
}

.work .slick-dots li {
  width: 2.5rem !important;
  height: 2px;
}

.work .slick-dots li button::before {
  content: "" !important;
  background: black !important;
  width: 40px !important;
  height: 2.16px !important;
  border-radius: 999px;
}
/* Working */
@media only screen and (max-width: 1600px) {
  .work .slick-next {
    right: 1080px !important;
    top: 573px;
    z-index: 100;
  }
  .work .slick-prev {
    left: 60px !important;
    top: 573px !important;
    z-index: 100;
  }
  .work .slick-dots {
    bottom: 100px !important;
    right: 500px !important;
  }
}
@media only screen and (max-width: 1400px) {
  .work .slick-next {
    right: 590px !important;
    top: 573px;
    z-index: 100;
  }
  .work .slick-prev {
    left: 70px !important;
    top: 573px !important;
    z-index: 100;
  }
  .work .slick-dots {
    bottom: 100px !important;
    right: 250px !important;
  }
}
@media only screen and (max-width: 900px) {
  .work .slick-next {
    right: 200px !important;
    top: 574px;
    z-index: 100;
  }
  .work .slick-prev {
    left: 180px !important;
    top: 574px !important;
    z-index: 100;
  }
  .work .slick-dots {
    bottom: 100px !important;
    right: 0px !important;
    left: 0 !important;
  }
}
@media only screen and (max-width: 800px) {
  .work .slick-next {
    right: 200px !important;
    top: 620px;
    z-index: 100;
  }
  .work .slick-prev {
    left: 180px !important;
    top: 620px !important;
    z-index: 100;
  }
  .work .slick-dots {
    bottom: 50px !important;
    right: 0px !important;
    left: 0 !important;
  }
}
@media only screen and (max-width: 639px) {
  .work .slick-next {
    right: 50px !important;
    top: 822px;
    z-index: 100;
  }
  .work .slick-prev {
    left: 30px !important;
    top: 822px !important;
    z-index: 100;
  }
  .work .slick-dots {
    bottom: 50px !important;
    right: 0px !important;
    left: 0 !important;
  }
}
@media only screen and (max-width: 280px) {
  .work .slick-next {
    right: 30px !important;
    top: 822px;
    z-index: 100;
  }
  .work .slick-prev {
    left: 10px !important;
    top: 822px !important;
    z-index: 100;
  }
  .work .slick-dots {
    bottom: 50px !important;
    right: 0px !important;
    left: 0 !important;
  }
}
/* Working */
.bg-linear {
  background: linear-gradient(
    357.58deg,
    #f2f2f2 1.96%,
    rgba(242, 242, 242, 0) 93.84%
  );
}
.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.modal_error::placeholder {
  color: red;
}
.newSelect:first-child {
  color: #a6acb7 !important;
}
#budget:first-child,
#hear:first-child {
  color: a6acb7 !important;
}

/* 
new our app component css
*/

.new-app-carousel {
  position: relative !important;
  width: 100%;
}

.new-app-carousel .swiper-button-next {
  content: url("/icons/right-black-arrow.svg") !important;
  height: 50px !important;
  width: 40px !important;
}

.new-app-carousel .swiper-button-prev {
  content: url("/icons/left-black-arrow.svg") !important;
  height: 50px !important;
  width: 40px !important;
}

/* @media only screen and (min-width: 1280px) {
  .new-app-carousel .swiper-button-prev {
    position: absolute !important;
    left: 1% !important;
    top: 420px !important;
    z-index: 100 !important;
  }

  .new-app-carousel .swiper-button-next {
    position: absolute !important;
    left: 35% !important;
    top: 420px !important;
    z-index: 100 !important;
  }

  .new-app-carousel .swiper-pagination-bullet {
    background-color: #2b2b2b;
    opacity: 0.4 !important;
    width: 30px !important;
    height: 2px !important;
    margin: 45px 6px !important;
    border-radius: 50%;
  }

  .new-app-carousel .swiper-pagination {
    left: 5% !important;
    text-align: left;
  }
} */

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .new-app-carousel .swiper-pagination {
    left: 0% !important;
  }

  .new-app-carousel .swiper-pagination-bullet {
    width: 13px !important;
    height: 2px !important;
    margin: 25px 5px !important;
  }

  .new-app-carousel .swiper-button-prev {
    position: absolute !important;
    left: 5% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }

  .new-app-carousel .swiper-button-next {
    position: absolute !important;
    left: 85% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .new-app-carousel .swiper-pagination {
    left: 0% !important;
  }

  .new-app-carousel .swiper-pagination-bullet {
    width: 13px !important;
    height: 2px !important;
    margin: 25px 5px !important;
  }

  .new-app-carousel .swiper-button-prev {
    position: absolute !important;
    left: 5% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }

  .new-app-carousel .swiper-button-next {
    position: absolute !important;
    left: 85% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }
}

@media only screen and (max-width: 640px) {
  .new-app-carousel .swiper-pagination {
    left: 0% !important;
  }

  .new-app-carousel .swiper-pagination-bullet {
    width: 10px !important;
    height: 2px !important;
    margin: 25px 5px !important;
  }

  .new-app-carousel .swiper-button-prev {
    position: absolute !important;
    left: 5% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }

  .new-app-carousel .swiper-button-next {
    position: absolute !important;
    left: 85% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }
}

/* 
--------------------------
*/

/* 
New Our Project Component CSS 
*/

.new-project-carousel {
  position: relative;
  /* z-index: 100;
  width: 100%; */
}

.new-project-carousel .swiper-button-next {
  content: url("/icons/right-black-arrow.svg") !important;
  height: 50px !important;
  width: 40px !important;
}

.new-project-carousel .swiper-button-prev {
  content: url("/icons/left-black-arrow.svg") !important;
  height: 50px !important;
  width: 40px !important;
}

.new-project-carousel .swiper-button-prev {
  position: absolute !important;
  left: 30% !important;
  top: 600px !important;
  z-index: 100 !important;
}

.new-project-carousel .swiper-button-next {
  position: absolute !important;
  right: 30% !important;
  top: 600px !important;
  z-index: 100 !important;
}

.new-project-carousel .swiper-pagination-bullet {
  background-color: #2b2b2b;
  opacity: 0.4 !important;
  width: 30px !important;
  height: 2px !important;
  margin: 45px 6px !important;
  border-radius: 50%;
}

/* @media only screen and (max-width: 1024px) {
  .new-project-carousel .swiper-pagination-bullet {
    width: 20px !important;
    margin: 16px 6px !important;
  }

  .new-project-carousel .swiper-button-prev {
    left: 8% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }

  .new-project-carousel .swiper-button-next {
    right: 8% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }
} */

@media only screen and (max-width: 640px) {
  .new-project-carousel .swiper-pagination-bullet {
    width: 20px !important;
    margin: 0px 6px !important;
  }

  /* .new-project-carousel .swiper-button-prev {
    left: 8% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  }

  .new-project-carousel .swiper-button-next {
    right: 8% !important;
    top: 96% !important;
    height: 35px !important;
    width: 35px !important;
  } */
}

/* 
--------------------------------------------
*/

/* Our Project Carousel Start */

.project .slick-next {
  right: 500px !important;
  top: 698px !important;
  z-index: 100;
}
.project .slick-prev {
  left: 500px !important;
  top: 698px !important;
  z-index: 100;
}
.project .slick-prev::before {
  content: url("/icons/left-black-arrow.svg") !important;
}

.project .slick-next::before {
  content: url("/icons/right-black-arrow.svg") !important;
}

.project .slick-prev::before,
.project .slick-next::before {
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
}

.project .slick-dots {
  /* bottom: 5px !important; */
  right: -10px !important;
}

.project .slick-dots li {
  width: 2.5rem !important;
  height: 2px;
}

.project .slick-dots li button::before {
  content: "" !important;
  background: black !important;
  width: 40px !important;
  height: 2.16px !important;
  border-radius: 999px;
}
@media only screen and (max-width: 1560px) {
  .project .slick-next {
    right: 300px !important;
    top: 698px !important;
    z-index: 100;
  }
  .project .slick-prev {
    left: 300px !important;
    top: 698px !important;
    z-index: 100;
  }
  .project .slick-dots {
    right: -10px !important;
  }
}
@media only screen and (max-width: 1154px) {
  .project .slick-next {
    right: 250px !important;
    top: 698px !important;
    z-index: 100;
  }
  .project .slick-prev {
    left: 250px !important;
    top: 698px !important;
    z-index: 100;
  }
  .project .slick-dots {
    right: -10px !important;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1100px) {
  .project .project-container {
    min-height: 760px;
    max-height: 760px;
  }
  .project .slick-next {
    right: 120px !important;
    top: 758px !important;
    z-index: 100;
  }
  .project .slick-prev {
    left: 120px !important;
    top: 758px !important;
    z-index: 100;
  }
  .project .slick-dots {
    right: -10px !important;
  }
}
@media only screen and (max-width: 800px) {
  .project .slick-next {
    right: 70px !important;
    top: 698px !important;
    z-index: 100;
  }
  .project .slick-prev {
    left: 70px !important;
    top: 698px !important;
    z-index: 100;
  }
  .project .slick-dots {
    right: -10px !important;
  }
}
@media only screen and (max-width: 800px) {
  .project .project-container {
    min-height: 700px;
    max-height: 700px;
  }
}
@media only screen and (max-width: 700px) {
  .project .project-container {
    min-height: 690px;
    max-height: 690px;
  }
  .project .slick-next {
    right: 20px !important;
    top: 688px !important;
    z-index: 100;
  }
  .project .slick-prev {
    left: 20px !important;
    top: 688px !important;
    z-index: 100;
  }
}
@media only screen and (max-width: 550px) {
  .project .project-container {
    max-height: 590px;
    min-height: 590px;
  }
  .project .slick-next {
    right: 30px !important;
    top: 585px !important;
    z-index: 100;
  }
  .project .slick-prev {
    left: 10px !important;
    top: 585px !important;
    z-index: 100;
  }
  .project .slick-dots {
    right: 0px !important;
  }
  .project .slick-dots li {
    width: 1.5rem !important;
    height: 2px;
  }

  .project .slick-dots li button::before {
    content: "" !important;
    background: black !important;
    width: 15px !important;
    height: 2.16px !important;
    border-radius: 999px;
  }
}
@media only screen and (max-width: 400px) {
  .project .project-container {
    min-height: 480px;
    max-height: 480px;
  }
  .project .slick-dots li {
    width: 1rem !important;
    height: 2px;
  }
  .project .slick-dots li button::before {
    content: "" !important;
    background: black !important;
    width: 15px !important;
    height: 2.16px !important;
    border-radius: 999px;
  }
  .project .slick-next {
    right: 30px !important;
    top: 480px !important;
    z-index: 1000;
  }
  .project .slick-prev {
    left: 30px !important;
    top: 480px !important;
    z-index: 100;
  }
  .project .slick-dots {
    right: 0px !important;
  }
}

/* Our Project Carousel End */
.client-reviews .slick-next {
   right: 450px !important;
    top: 458px !important;
  z-index: 100;
}
.client-reviews .slick-prev {
   left: 450px !important;
   top: 458px !important;
  z-index: 100;
}
.client-reviews .slick-prev::before {
  content: url("/icons/left-black-arrow.svg") !important;
}

.client-reviews .slick-next::before {
  content: url("/icons/right-black-arrow.svg") !important;
}

.client-reviews .slick-prev::before,
.client-reviews .slick-next::before {
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
}

.client-reviews .slick-dots {
  /* bottom: 5px !important; */
  right: -10px !important;
}

.client-reviews .slick-dots li {
  width: 2.5rem !important;
  height: 2px;
}

.client-reviews .slick-dots li button::before {
  content: "" !important;
  background: black !important;
  width: 40px !important;
  height: 2.16px !important;
  border-radius: 999px;
}
@media only screen and (max-width: 1400px) {
  .client-reviews .slick-next {
    right: 350px !important;
    top: 458px !important;
    z-index: 100;
  }
  .client-reviews .slick-prev {
    left: 350px !important;
   top: 458px !important;
    z-index: 100;
  }
}


@media only screen and (max-width: 570px) {
  .client-reviews .slick-dots li {
    width: 0.6rem !important;
    height: 2px;
  }
  .client-reviews .slick-dots li button::before {
    content: "" !important;
    background: black !important;
    width: 15px !important;
    height: 2.16px !important;
    border-radius: 999px;
  }
  .client-reviews .slick-next {
    right: 36px !important;
    top: 460px !important;
    z-index: 100;
  }
  .client-reviews .slick-prev {
    left: 16px !important;
    top: 460px !important;
    z-index: 100;
  }
  .client-reviews .slick-dots {
    /* bottom: 5px !important; */
    right: 0px !important;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 10px !important;
  height: 10px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  color: #caad88 !important;
  margin-top: 30px !important;
}

.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
  margin-right: 20px !important;
}
.swiper-pagination-bullet {
  width: 40px !important;
  height: 5px !important;
  border-radius: 10px !important;
  margin-right: 20px !important;
}
.swiper-pagination-bullet-active {
  background-color: #caad88 !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, -1px) !important;
}

.tech-slider .swiper-pagination-bullet {
  width: 40px !important;
  height: 5px !important;
  border-radius: 10px !important;
  margin-right: 20px !important;
}
.tech-slider .swiper-pagination-bullet-active {
  background-color: #caad88 !important;
}
.iwc-slider .swiper-pagination-bullet {
  width: 30px !important;
  height: 5px !important;
  border-radius: 10px !important;
  margin-right: 10px !important;
}
.iwc-slider .swiper-pagination-bullet-active {
  background-color: #caad88 !important;
}

#wa01 {
  float: none;
  position: fixed;
  bottom: 50px;
  left: 35px;
  z-index: 99;
  box-shadow: 0px 0px 6px 0px #caad88;
  border-radius: 50px;
}

#wa01:hover {
  border: 2px solid white;
  color: white;
}

#cl01 {
  float: none;
  position: fixed;
  bottom: 50px;
  left: 110px;
  z-index: 99;
  box-shadow: 0px 0px 6px 0px #caad88;
  border-radius: 50px;
}

#test2 {
float: none;
  position: fixed;
  bottom: 50px;
  left: 110px;
  z-index: 99;
  box-shadow: 0px 0px 6px 0px #caad88;
  border-radius: 50px;
 
}
.chatbot-z{
  z-index: 9999 !important;
}
#cl01:hover {
  border: 2px solid white;
  color: white;
}

.text-with-border {
  color: transparent; /* Makes the inside of the text transparent */
  -webkit-text-stroke: 1px white; /* Stroke width and color */
}

.our-clients .slick-next {
  z-index: 100;
}
.our-clients .slick-prev {
  z-index: 100;
}
.our-clients .slick-prev::before {
  content: url("/left-arrow.png") !important;
}

.our-clients .slick-next::before {
  content: url("/right-arrow.png") !important;
}

.our-clients .slick-prev::before,
.our-clients .slick-next::before {
  display: inline-block;
  width: 30px !important;
  height: 30px !important;
}

.our-clients .slick-dots {
  /* bottom: 5px !important; */
  right: -10px !important;
}

.our-clients .slick-dots li {
  width: 2.5rem !important;
  height: 2px;
}

.our-clients .slick-dots li button::before {
  content: "" !important;
  background: #bd996a !important;
  width: 45px !important;
  height: 5px !important;
  border-radius: 999px;
}

@media only screen and (min-width: 1100px) {
  .our-clients .slick-next {
    right: -0px !important;
  }
  .our-clients .slick-prev {
    left: -50px !important;
  }
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.03); /* Slightly enlarges the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Adds shadow for depth */
}

.Toastify__toast {
  min-height: 100px !important;
  padding: 20px !important;
  font-size: 18px !important;
}

.ODM .slick-prev::before {
  content: url("/dm-services/our-digital-marketing/left-arrow.svg") !important;
}

.ODM .slick-next::before {
  content: url("/dm-services/our-digital-marketing/right-arrow.svg") !important;
}

.ODM .slick-dots li {
  bottom: -10px;
  width: 1.2rem !important;
  height: 1px;
}
.ODM .slick-dots li button::before {
  content: "" !important;
  background: #bd996a !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 999px;
}

.ODM .slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
}

@media screen and (max-width: 768px) {
  .ODM .slick-next {
    display: none !important;
  }
  .ODM .slick-prev {
    display: none !important;
  }
}

.DMS .swiper-pagination-bullet {
  width: 30px !important;
  height: 5px !important;
  border-radius: 10px !important;
  margin-right: 10px !important;
}
.DMS .swiper-pagination-bullet-active {
  background-color: #caad88 !important;
}

/*  */

.CORE .swiper-pagination-bullet {
  width: 20px !important;
  height: 5px !important;
  border-radius: 10px !important;
  margin-right: 10px !important;
}
.CORE .swiper-pagination-bullet-active {
  background-color: #caad88 !important;
}





